@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ceffff;
}

/* Hide the default scrollbar */
#scroll-container::-webkit-scrollbar {
    width: 0.1rem;
    /* Adjust as needed */
}

/* Hide scrollbar track */
#scroll-container::-webkit-scrollbar-track {
    display: none;
}

/* Style the scrollbar thumb */
#scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
}